root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{kt,kts}]
max_line_length = 140
ktlint_code_style = ktlint_official
# Composables are PascalCase by convention; don't flag them as bad function names.
ktlint_function_naming_ignore_when_annotated_with = Composable, Preview
# Compose idiom: trailing lambdas and modifier chains make these too noisy.
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled

[*.{yml,yaml,json}]
indent_size = 2
